
/* vai ata logo part */


.logo {
    height: 50px;
}
/* ami jemon chaitesi oita hoilo.................ai logota dekhen  navigation ar height and logo ar size sob tik thake kin amer logo tay height 
baraile navigation ar height o baira jay ....................... size 100px dile logor lekha onek soto hoiya jay......///////






















/* === global style start === */
.container {
    margin-bottom: 100px;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
}

/* button design */
.buy-now-btn {
    position: relative;
    background-color: black;
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid black;
    border-radius: 10px;
    transition: all 0.5s linear;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 1;
}

.buy-now-btn:hover {
    color: black;
}

.buy-now-btn:focus,.buy-now-btn:active {
    outline: none;
}

.buy-now-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 0;
    height: 100%;
    background-color: white;
    transition: all 0.5s linear;
    transform: skew(25deg);
    z-index: -1;
}

.buy-now-btn:active::before {
    background-color: rgba(0, 0, 0,0.2);
}


.buy-now-btn:hover::before {
    width: 150%;
}
/* button design end */


.underline {
    height: 5px;
    width: 70px;
    border-radius: 50px;
    background-color: rgb(255, 20, 110);
    margin: 0 auto;
}
/* === global style end === */


/* navigation */
#navigation {
    margin-bottom: 200px;
}

#navigation .container {
    margin-bottom: 0;
}

.nav-link {
    font-size: 17px;
}


/* carousel part */
.carousel-inner.shadow {
    padding: 15px 20px;
    background-color: coral;
}


/* for grid section */
.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}

.card {
    border-radius: 10px;
    padding: 30px 10px 0 10px;
}

.card-footer{
    border: none;
    background-color: #fff;
}



/* i couldn't responsive by bootstrap that's why use media queries */
@media screen and (min-width:540px){
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:992px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }

}

/* categories responsive part */
.new-grid {
    display: grid;
    gap: 30px;
}

.grid-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-inner-item {
    margin-top: 15px;
    display: grid;
    gap: 30px;
}

/* for small and medius screen */
@media screen and (min-width:540px){
    .new-grid {
        grid-template-columns: repeat(1,1fr);
    }

    .grid-item {
        justify-content: center;
    }

    .grid-inner-item {
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
}

/* for large and extra large screen */
@media screen and (min-width:992px){
    .new-grid {
        grid-template-columns: repeat(2,1fr);
    }
    
    .grid-item {
        flex-direction: row;
    }
    
    .item {
        margin-right: 30px;
    }
    
    .grid-inner-item {
        grid-template-columns: repeat(1,1fr);
    }
}